# Bot service env
BOT_SERVER_PORT=
DISCORD_BOT_TOKEN=

# Ratings service env
RATINGS_REQUEST_URL=
RATINGS_SERVER_PORT=

# Ratings history env
DATABASE_COLLECTION_NAME=
DATABASE_CONNECT_TIMEOUT=
DATABASE_NAME=
DATABASE_URI=
RATINGS_HISTORY_SERVER_PORT=

# Realtime service env
REALTIME_SERVER_PORT=

# Refresher service env
REFRESHER_SYMBOLS=AAPL,ABM,AMD,AMT,ATVI,AVGO,AWR,AXP,BA,BAC,BEP,C,CAT,CBSH,CINF,CL,CMI,COST,CRSR,CSCO,CWT,DOC,DOV,EMR,ET,F,FMCB,FRT,FUL,GM,GPC,GS,HPE,HRL,IBM,INTC,IVR,JNJ,JPM,KO,LANC,LMT,LOW,MA,MCD,MMM,MO,MSFT,NDSN,NKE,NRG,NVDA,NWN,O,ORCL,PB,PG,QCOM,RKT,RTX,SBUX,SCL,SHLX,SPCE,SPG,SWK,SYY,T,TGT,TM,TMUS,TR,TROW,TSM,TX,UWMC,V,VALE,VIAC,VWAGY,WFC,WM,WMT,XOM

# Ticker service env
TICKER_SERVER_PORT=

# Service URIs
BOT_SERVICE_URI=
RATINGS_SERVICE_URI=
RATINGS_HISTORY_SERVICE_URI=
REALTIME_SERVICE_URI=
TICKER_SERVICE_URI=

# System env
LOG_LEVEL=